#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 24px 10px;
  }
  
  #algo-expert {
    width: 75%;
    background-color: #626ee3;
    margin: auto;
    order: 2;
  }
  
  #systems-expert {
    width: 50%;
    background-color: #890023;
    align-self: center;
  }
  
  #ml-expert {
    width: 30%;
    height: 75px;
    background-color: #f37f1b;
  }
  
  #frontend-expert {
    order: 3;
    width: 40%;
    align-self: flex-end;
    background-color: #11967e;
  }
  
  #programming-expert {
    order: 4;
    height: 75px;
    flex-grow: 1;
    background-color: #f21b3f;
  }
  
  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-weight: bold;
  }