nav {
    display: flex;
    justify-content: space-between;
  /*   flex-direction: row; */
    background-color: #6E072D;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  
  li {
    padding: 1em 1.5em;
    font-size: 18px;
  /*   padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 27px;
    padding-right: 27px; */
    color: white;
    list-style-type: none;
  }
  
  li:hover {
    background-color: #B90E4D;
    cursor: pointer;
  }
  
  li:not(:last-of-type) {
    border-right: 2px solid white;
  }
  